{% extends 'base.html' %}

{% block extrahead %}
<link href="/static/about.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
	<h2>Where does the data come from</h2>
	<p>
		This site crawls the hacker news front page every 5 minutes. The front page is the only page that is crawled. If the submission
		does not make the front page, it will not end up on this site.
	</p>
	<h2>Why can't I upvote?</h2>
	<p>Because that is not possible, due to limitation of Hacher News. If Y Combinator would implement OAuth, it could be done, but I wouldn't hold my breath.</p>
	<h2>Why the colors?</h2>
	<p>To make the UI better. The main hacker news front page looks nice, but the over grayness makes it hard to scan the page for information. With the colors, it is easy to tell which stories have the most comments, the most upvotes, and which ones are the newest entries.</p>
	<h2>What the colors mean</h2>
	<p>
		Each data point about a submission is colorized.<br>
		Green hues are meant to convey "newness", or "undiscoveredness" (if thats even a word).<br>
		Red and orange are meant to convey something that is popular.
	</p>

	<h3 class="lime">Lime Green</h3>
	<ul>
		<li><strong>Points:</strong> less than 10</li>
		<li><strong>Submitter:</strong> has a karma score less than 10% of users amoung same registration month</li>
		<li><strong>Age of Submission:</strong> less than 30 minutes</li>
		<li><strong>Comments:</strong> less than 10</li>
	</ul>

	<h3 class="green">Green</h3>
	<ul>
		<li><strong>Points:</strong> less than 50</li>
		<li><strong>Submitter:</strong> has a karma score less than 30% of users amoung same registration month</li>
		<li><strong>Age of Submission:</strong> less than 1 hour old</li>
		<li><strong>Comments:</strong> less than 20</li>
	</ul>

	<h3 class="orange">Orange</h3>
	<ul>
		<li><strong>Points:</strong> less than 100</li>
		<li><strong>Submitter:</strong> has a karma score less than 50% users amoung same registration month</li>
		<li><strong>Age of Submission:</strong> less than 6 hours old</li>
		<li><strong>Comments:</strong> less than 100</li>
	</ul>

	<h3 class="orangered">OrangeRed</h3>
	<ul>
		<li><strong>Points:</strong> less than 500</li>
		<li><strong>Submitter:</strong> has a karma score less than 80% users amoung same registration month</li>
		<li><strong>Age of Submission:</strong> less than 12 hours old</li>
		<li><strong>Comments:</strong> less than 300</li>
	</ul>

	<h3 class="red">Red</h3>
	<ul>
		<li><strong>Points:</strong> less than 1000</li>
		<li><strong>Submitter:</strong> has a karma score lower than 95% users amoung same registration month</li>
		<li><strong>Age of Submission:</strong> less than 24 hours old</li>
		<li><strong>Comments:</strong> less than 900</li>
	</ul>

	<h3 class="darkred">DarkRed</h3>
	<ul>
		<li><strong>Points:</strong> less than 2000</li>
		<li><strong>Submitter:</strong> has a karma score lower than 99% users amoung same registration month</li>
		<li><strong>Age of Submission:</strong> less than 48 hours old</li>
		<li><strong>Comments:</strong> less than 1500</li>
	</ul>

	<h3 class="black">Black</h3>
	<ul>
		<li><strong>Points:</strong> over 2000</li>
		<li><strong>Submitter:</strong> has a karma score higher than 99% users amoung same registration month</li>
		<li><strong>Age of Submission:</strong> over 48 hours old</li>
		<li><strong>Comments:</strong> over 1500</li>
	</ul>
{% endblock %}