body {
	margin: 0 auto 0 auto;
	padding: 10px;
}

h1 {
	display: inline;
	padding-left: 10px;
}

.submission {
	width: 90%;
	border: 0px solid black;
	padding: 10px;
	margin: 10px;
	font-size: x-large;
}

.peak_rank {
	color: gray;
}

.submitter, .points, .age, .comments {
	color: white;
	padding: 2px;
}

.info_row a {
	color: white;
}

.info_row {
	font-size: small;
	font-family: Arial;
}

.title {
	color: black;
	text-decoration: none;
	font-size: x-large;
}

.domain {
	color: silver;
}

footer {
	text-align: center;
}